<div class="container">
  <div class="col-sm-11">
    <div class="row">
      <div class="col-sm-6">
        <div class="well bs-component">
          <div class="form-horizontal">
            <fieldset>
              <% if params[:action] == "edit" %>
                <legend>Edit Book</legend>
              <%else%>
                <legend>Add a Book</legend>
              <% end %>
                <%= form_for @book, :html => {:id => "add-book-form"} do |f| %>
                  <div class="form-group">
                    <%= f.label :title, 'Title', class: "col-sm-2 control-label"%>
                      <div class="col-sm-10">
                        <%= f.text_field :title, class: "form-control"%>
                      </div>
                  </div>
                  <div class="form-group">
                    <%= f.label :authors, 'Author', class: "col-sm-2 control-label"%>
                      <div class="col-sm-10">
                        <%= f.text_field :authors, class: "form-control"%>
                      </div>
                  </div>
                  <div class="form-group">
                    <%= f.label :link, 'Link', class: "col-sm-2 control-label"%>
                      <div class="col-sm-10">
                        <%= f.text_field :link, class: "form-control"%>
                      </div>
                  </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </div>
 <div class="col-sm-11">
  <div class="row">
    <div class="col-sm-2">
      <%= f.submit "Submit", class:"btn btn-primary" %>
        <% end %>
    </div>
  </div>
 </div>
</div>
