<br>
<br>
<div class="container">
 <div class="well bs-component">
  <div class="form-horizontal">
   <fieldset>

   <% if params[:action] == "edit" %>
    <legend>Edit Course</legend>
   <%else%>
    <legend>Add a Course</legend>
   <% end %>
     <%= form_for @course do |f| %>
      <div class="form-group">
       <%= f.label :name, 'Course Name', class: "col-lg-2 control-label"%>
        <div class="col-lg-10">
         <%= f.text_field :name, class: "form-control"%>
        </div>
      </div>
      <%= f.hidden_field :teacher_id, value: current_user.id%>
    </fieldset>
   </div>
  </div>
       <%= f.submit "Submit", class:"btn btn-primary" %>
    <% end %>
</div>